[user]
	name = Daniel P. Wright
	email = dani@dpwright.com
[merge]
	tool = vimdiff
[core]
	excludesfile = ~/.cvsignore
[color]
	ui = always
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	st = status -sb
	ci = commit
	cia = commit --amend
	co = checkout
	br = branch
	sb = show-branch
	cp = cherry-pick
	staged = diff --cached
	rb = rebase
	rbc = rebase --continue
	rbs = rebase --skip
	rl = reflog
	rs = remote show
	rt = remote
	ru = remote update
	rp = remote prune
	sm = submodule
	lg = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen(%cd)%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=local
	lgf = log --graph --pretty=format:'%Cred%H%Creset - %Cgreen(%cd)%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=local
	nm = !git name-rev --stdin --always --name-only
	last = !git --no-pager lg -10
	new  = !git --no-pager lg $1@{1}..$1@{0} "$@"
	sub = submodule update --init --recursive 
	dtl = show --pretty=format:'%Cred%h%Creset - %Cgreen(%cd)%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --date=local --full-diff
	who = shortlog -n -s --no-merges
[github]
	user = dpwright
